@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Anything after this will be custom styling!

body,
html {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 16px;
  color: white;
  background: linear-gradient(#444, darkgreen, forestgreen);
}

a { color: white!important; } 

p {
  text-align: center;
  color: white; 
  background-color: gray;
}

.category { 
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem;
  margin: 1rem 0;
  border-bottom: 1px solid white;
}